---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import SectionScrollNav from '../components/SectionScrollNav.vue';
import NoiseStageSection from '../components/NoiseStageSection.astro';
import EventCards from '../components/EventCards.astro';
import SpeakersShowcaseSection from '../components/SpeakersShowcaseSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import VenueCarouselSection from '../components/VenueCarouselSection.astro';
import PreviousYearsVideoSection from '../components/PreviousYearsVideoSection.vue';
import Footer from '../components/Footer.astro';
---

<Layout title="EXPORIGEN - Ferias y Exposiciones en Santo Domingo">
  <SectionScrollNav client:load />
  <main>
    <HeroSection />
    <NoiseStageSection />
    <EventCards />
    <SpeakersShowcaseSection />
    <TestimonialsSection />
    <VenueCarouselSection />
    <PreviousYearsVideoSection client:load />
  </main>
  <Footer />
</Layout>